registry=https://registry.npmjs.org/
strict-ssl=false
network-timeout=100000
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
auto-install-peers=true
shamefully-hoist=true
node-linker=hoisted
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@prettier/plugin-*
public-hoist-pattern[]=*prettier-plugin-* 