rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Temporary rule to allow all uploads while testing
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
